body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:1360px;
    margin-left:0;
    margin-right:0;
    text-align:left;
}
#base {
    position:absolute;
    z-index:0;
}
#u0 {
    position:absolute;
    left:0px;
    top:57px;
    width:1360px;
    height:590px;
    color:#000000;
}
#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:590px;
}
#u1 {
    position:absolute;
    left:2px;
    top:287px;
    width:1356px;
    visibility:hidden;
    word-wrap:break-word;
}
#u2 {
    position:absolute;
    left:667px;
    top:170px;
    width:86px;
    height:20px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-size:11px;
    color:#000000;
    text-align:center;
}
#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:20px;
}
#u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    word-wrap:break-word;
}
#u4 {
    position:absolute;
    left:601px;
    top:410px;
    width:218px;
    height:40px;
    font-family:'Segoe UI Обычный', 'Segoe UI';
    font-size:11px;
    color:#FFFFFF;
}
#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:40px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:214px;
    word-wrap:break-word;
}
#u6 {
    position:absolute;
    left:606px;
    top:200px;
    width:208px;
    height:20px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-size:11px;
    color:#000000;
    text-align:center;
}
#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:20px;
}
#u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    word-wrap:break-word;
}
#u8 {
    position:absolute;
    left:484px;
    top:230px;
    width:466px;
    height:20px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-size:11px;
    color:#000000;
    text-align:center;
}
#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:466px;
    height:20px;
}
#u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:466px;
    word-wrap:break-word;
}
#u10 {
    position:absolute;
    left:528px;
    top:300px;
    width:364px;
    height:20px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-size:11px;
    color:#FF0000;
    text-align:center;
}
#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    height:20px;
}
#u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:364px;
    word-wrap:break-word;
}
#u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:57px;
}
#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:57px;
}
#u13 {
    position:absolute;
    left:2px;
    top:20px;
    width:1356px;
    visibility:hidden;
    word-wrap:break-word;
}
#u14 {
    position:absolute;
    left:529px;
    top:0px;
    width:362px;
    height:57px;
}
#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:368px;
    height:63px;
}
#u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:367px;
    height:62px;
}
#u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:57px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    color:#FFFFFF;
    text-align:center;
}
#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:57px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:117px;
    word-wrap:break-word;
}
#u18 {
    position:absolute;
    left:121px;
    top:0px;
    width:127px;
    height:57px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    color:#FFFFFF;
    text-align:center;
}
#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:57px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
    position:absolute;
    left:2px;
    top:22px;
    width:123px;
    word-wrap:break-word;
}
#u20 {
    position:absolute;
    left:248px;
    top:0px;
    width:114px;
    height:57px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    color:#FFFFFF;
    text-align:center;
}
#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:114px;
    height:57px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:110px;
    word-wrap:break-word;
}
#u22 {
    position:absolute;
    left:1152px;
    top:0px;
    width:116px;
    height:57px;
}
#u22_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:63px;
}
#u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:62px;
}
#u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:57px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    text-decoration:underline;
    color:#FFFFFF;
    text-align:center;
}
#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:57px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:112px;
    word-wrap:break-word;
}
#u26 {
    position:absolute;
    left:30px;
    top:16px;
    width:23px;
    height:22px;
    color:#FFFFFF;
}
#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
}
#u27 {
    position:absolute;
    left:2px;
    top:3px;
    width:19px;
    visibility:hidden;
    word-wrap:break-word;
}
#u28 {
    position:absolute;
    left:63px;
    top:13px;
    width:73px;
    height:28px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    color:#FFFFFF;
}
#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    height:28px;
}
#u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    word-wrap:break-word;
}
#u30 {
    position:absolute;
    left:0px;
    top:646px;
    width:1360px;
    height:44px;
    color:#D7D7D7;
}
#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1360px;
    height:44px;
}
#u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:1356px;
    visibility:hidden;
    word-wrap:break-word;
}
#u32 {
    position:absolute;
    left:1305px;
    top:660px;
    width:31px;
    height:12px;
    font-family:'Segoe UI Обычный', 'Segoe UI';
    font-size:9px;
    color:#FFFFFF;
}
#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:12px;
}
#u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    white-space:nowrap;
}
#u34 {
    position:absolute;
    left:600px;
    top:646px;
    width:219px;
    height:44px;
}
#u34_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:50px;
}
#u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:49px;
}
#u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:44px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    text-decoration:underline;
    color:#FFFFFF;
    text-align:center;
}
#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:44px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
    position:absolute;
    left:2px;
    top:16px;
    width:62px;
    word-wrap:break-word;
}
#u38 {
    position:absolute;
    left:66px;
    top:0px;
    width:91px;
    height:44px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    text-decoration:underline;
    color:#FFFFFF;
    text-align:center;
}
#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:44px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
    position:absolute;
    left:2px;
    top:16px;
    width:87px;
    word-wrap:break-word;
}
#u40 {
    position:absolute;
    left:157px;
    top:0px;
    width:62px;
    height:44px;
    font-family:'Segoe UI Полужирный', 'Segoe UI';
    font-weight:700;
    font-size:9px;
    text-decoration:underline;
    color:#FFFFFF;
    text-align:center;
}
#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:44px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
    position:absolute;
    left:2px;
    top:16px;
    width:58px;
    word-wrap:break-word;
}
