html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font: 400 16px 'Segoe UI';
    text-decoration: none;
    font-style: normal;
    min-width: 320px;
    min-height: 100%;
    position: relative;
    color: #000000;
    background-color: #ffffff;
    height: 100%;
    overflow-x: hidden;
}

.grid__center {
    margin: 0 20px;
    padding-bottom: 0;
}

.grid__center:after {
    content: '';
    display: block;
    clear: both;
}

@media only screen and (max-width: 59.3125em) {
    .grid__center {
        margin: 0;
    }
}

@media only screen and (max-width: 35.5em) {
    .grid__center {
        margin: 0;
    }
}

.grid__sidebar {
    width: 25%;
    float: left;
}

.grid__content {
    width: 65%;
    float: left;
}

.error-message {
    width: 100%;
    text-align: center;
}

.server-error-message {
    width: 70%;
    z-index: 2;
    position: absolute;
    left: 15%;
    height: 75px;
    line-height: 75px;
    border-radius: 0 0 5px 5px;
    background-color: #800053;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.header {
    height: 57px;
    position: relative;
    background-color: #414156;
    z-index: 99;
    font-family: 'Segoe UI Полужирный', 'Segoe UI';
    font-weight: 700;
    font-size: 9px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header * {
    color: #ffffff;
}

.header a {
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
}

.header__site-name {
    height: 100%;
    display: block;
    line-height: 12px;
    padding-left: 28px;
    text-transform: uppercase;
    margin-top: 16px;
}

.header__logo {
    float: left;
    width: 110px;
    height: 28px;
}

.header__logo img {
    max-height: 24px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
}

.header__menu {
    height: 57px;
    margin-left: 110px;
}

.header__menu ul {
    text-align: center;
    margin-top: 0;
}

.header__menu ul li {
    display: inline;
}

.header__menu ul li.active a {
    font-weight: 600;
    color: #0099CC;;
}

.header__menu ul li a:hover {
    text-decoration: none;
    background-color: #0099CC;
    color: #ffffff;
}

.header__menu ul li a {
    padding: 22px 30px;
    width: 100%;
    line-height: 59px;
}

.header__user-link {
    width: 10%;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    cursor: pointer;
}

.header__user-link a {
    width: 100%;
    text-decoration: none;
    display: block;
}

.header__user-link a:hover {
    background-color: #0099CC;
}

.header__menu .content ul {
    background-color: #414156;
    position: absolute;
    display: none;
    list-style: none;
    padding: 0px;
    margin-top: -3px;
}

.header__menu .content > ul.menu {
    display: block;
    height: 57px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

.header__menu .content > ul.menu li {
    display: inline-block;
    position: relative;
    padding: 0px;
    height: 57px;
}

.header__menu .content > ul.menu ul:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 8px;
}

.header__menu .content > ul.menu ul:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 4px;
}

.header__menu .content > ul.menu ul li {
    display: block;
    width: 100%;
    height: 58px;
    margin: 0px;
    padding: 0px;
}

.header__menu .content > ul.menu ul li a {
    display: block;
    width: 100%;
    padding: 0px 20px;
    margin: 0px;
}

.header__menu li.leaf {
    padding: 0px;
}

.sidebar {
    height: 100%;
    min-height: 400px;
    background-color: rgba(46, 52, 66, 0.05);
    position: relative;
    overflow: hidden;
    box-shadow: 1px 0 0 rgba(46, 52, 66, 0.1);
}

.sidebar * {
    color: #000000;
}

.sidebar__menu {
    width: 100%;
    float: left;
}

.sidebar__menu ul {
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 20px 0 0;
}

.sidebar__menu ul li {
    display: block;
    width: 100%;
    margin-left: 0;
}

.sidebar__menu ul li.active a {
    text-decoration: none;
}

.sidebar__menu ul li a:hover {
    text-decoration: none;
    background-color: rgba(46, 52, 66, 0.1);
    color: #1a3d5b;
}

.sidebar__menu ul li.active a {
    background-color: rgba(46, 52, 66, 0.5);
    color: #ffffff;
}

.sidebar__menu ul li a {
    display: block;
    padding: 0 20px;
    width: 100%;
    margin-left: 0;
    line-height: 40px;
    color: #337ab7;
    font-size: 14px;
}

.footer {
    height: 40px;
    background-color: #999999;
    position: relative;
    overflow: hidden;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 44px;
    font-family: 'Segoe UI Полужирный', 'Segoe UI';
    font-weight: 700;
    text-align: center;
}

.footer * {
    color: #000000;
}

.footer__menu {
    width: 100%;
    float: left;
}

.footer__menu ul {
    text-align: center;
    height: 100%;
    margin-top: 0;
    text-transform: uppercase;
}

.footer__menu ul li {
    display: inline;
}

.footer__menu ul li.active a,
.footer__menu ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer__menu ul li a {
    padding: 30px;
    width: 100%;
    line-height: 40px;
    font-size: 9px;
    color: #ffffff;
    text-decoration: underline;
}

.data-content {
    padding: 10px 30px;
}

#user-register-form label,
#block-menu-menu-left-menu h2,
#block-menu-menu-top-menu h2 {
    display: none;
}

.page-node-add-demand-create label {
    font-weight: normal;
    font-size: 13px;
}

.page-node-add-demand-create select,
.page-node-add-demand-create input {
    font-weight: normal;
    font-size: 14px;
}

.page-node-add-demand-create input[type="text"],
.page-node-add-demand-create .width_sel select {
    width: 175px;
}

.page-node-add-demand-create .data-content {
    padding: 10px 30px;
}

.page-node-add-demand-create .section-content {
    display: table-cell;
    padding-right: 15px;
}

.page-node-add-demand-create label.option {
    font-size: 11px;
}

.page-node-add-demand-create h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.page-node-add-demand-create .section-content-l > div:first-child {
    display: table-cell;
    font-size: 15px;
    font-weight: 500;
    width: 195px !important;
    line-height: 25px;
    text-transform: none;
    text-align: left !important;
    vertical-align: top;
    width: 140px;
    margin: 24px 0;
    color: rgba(0, 0, 0, .54);
    box-sizing: content-box;
}

.page-node-add-demand-create .section-content-r {
    display: table-cell;
    padding-right: 15px;
}

.page-node-add-demand-create .section-content-r fieldset {
    width: 190px;
}

.page-node-add-demand-create .form-item-profile-demand-create-field-pic-indents-top-und-0-value input,
.page-node-add-demand-create .form-item-profile-demand-create-field-formula-indents-text-und-0-value input,
.page-node-add-demand-create .form-item-profile-demand-create-field-main-width-number1-und-0-value input,
.page-node-add-demand-create .width input {
    width: 90px;
}

.page-node-add-demand-create .section-content-r .form-item {
    margin-top: 0px;
    margin-bottom: 8px;
}

#edit-profile-demand-create-field-header-setting-align-und {
    height: 30px;
}

.page-node-add-demand-create .n_visibl_r .form-item,
.page-node-add-demand-create .n_visibl .form-type-checkbox {
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 13px;
}

#edit-profile-demand-create-field-table-label-continue2-und label,
#edit-profile-demand-create-field-pic-label-align-und label,
#edit-profile-demand-create-field-pic-align-pic-und label,
#edit-profile-demand-create-field-header-setting-align-und label,
#edit-profile-demand-create-field-main-font-align-und label,
#edit-profile-demand-create-field-table-label-align-und label,
#edit-profile-demand-create-field-table-label-typeface-und label,
#edit-profile-demand-create-field-header-setting-typeface-und label,
#edit-profile-demand-create-field-main-font-typeface-und label,
#edit-field-pic-align-pic-und label,
#edit-field-pic-label-align-und label {
    width: 27px;
    height: 30px;
    display: inline-block;
}

#edit-profile-demand-create-field-table-label-continue2-und-1 + label,
#edit-profile-demand-create-field-pic-label-align-und-1 + label,
#edit-profile-demand-create-field-pic-align-pic-und-1 + label,
#edit-profile-demand-create-field-header-setting-align-und-1 + label,
#edit-profile-demand-create-field-main-font-align-und-28 + label,
#edit-profile-demand-create-field-table-label-align-und-28 + label,
#edit-field-pic-align-pic-und-1 + label,
#edit-field-pic-label-align-und-1 + label {
    background: url("../../gost/images/editor_-_demand_create/u101.png") no-repeat;
}

#edit-profile-demand-create-field-table-label-continue2-und-1:checked + label,
#edit-profile-demand-create-field-pic-label-align-und-1:checked + label,
#edit-profile-demand-create-field-pic-align-pic-und-1:checked + label,
#edit-profile-demand-create-field-header-setting-align-und-1:checked + label,
#edit-profile-demand-create-field-main-font-align-und-28:checked + label,
#edit-profile-demand-create-field-table-label-align-und-28:checked + label,
#edit-field-pic-align-pic-und-1:checked + label,
#edit-field-pic-label-align-und-1:checked + label {
    background: url('../images/editor_-_demand_create/u101_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-main-font-align-und-29 + label,
#edit-profile-demand-create-field-table-label-align-und-29 + label {
    background: url('../images/editor_-_demand_create/u105.png') no-repeat;
}

#edit-profile-demand-create-field-main-font-align-und-29:checked + label,
#edit-profile-demand-create-field-table-label-align-und-29:checked + label {
    background: url('../images/editor_-_demand_create/u105_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-continue2-und-3 + label,
#edit-profile-demand-create-field-pic-label-align-und-3 + label,
#edit-profile-demand-create-field-pic-align-pic-und-3 + label,
#edit-profile-demand-create-field-header-setting-align-und-3 + label,
#edit-profile-demand-create-field-main-font-align-und-30 + label,
#edit-profile-demand-create-field-table-label-align-und-30 + label,
#edit-field-pic-align-pic-und-2 + label,
#edit-field-pic-label-align-und-2 + label {
    background: url('../images/editor_-_demand_create/u99.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-continue2-und-3:checked + label,
#edit-profile-demand-create-field-pic-label-align-und-3:checked + label,
#edit-profile-demand-create-field-pic-align-pic-und-3:checked + label,
#edit-profile-demand-create-field-header-setting-align-und-3:checked + label,
#edit-profile-demand-create-field-main-font-align-und-30:checked + label,
#edit-profile-demand-create-field-table-label-align-und-30:checked + label,
#edit-field-pic-align-pic-und-2:checked + label,
#edit-field-pic-label-align-und-2:checked + label {
    background: url('../images/editor_-_demand_create/u99_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-continue2-und-2 + label,
#edit-profile-demand-create-field-pic-label-align-und-2 + label,
#edit-profile-demand-create-field-pic-align-pic-und-2 + label,
#edit-profile-demand-create-field-header-setting-align-und-2 + label,
#edit-profile-demand-create-field-main-font-align-und-31 + label,
#edit-profile-demand-create-field-table-label-align-und-31 + label,
#edit-field-pic-align-pic-und-3 + label,
#edit-field-pic-label-align-und-3 + label {
    background: url('../images/editor_-_demand_create/u103.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-continue2-und-2:checked + label,
#edit-profile-demand-create-field-pic-label-align-und-2:checked + label,
#edit-profile-demand-create-field-pic-align-pic-und-2:checked + label,
#edit-profile-demand-create-field-header-setting-align-und-2:checked + label span,
#edit-profile-demand-create-field-main-font-align-und-31:checked + label span,
#edit-profile-demand-create-field-table-label-align-und-31:checked + label,
#edit-field-pic-align-pic-und-3:checked + label,
#edit-field-pic-label-align-und-3:checked + label {
    background: url('../images/editor_-_demand_create/u103_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-8 + label,
#edit-profile-demand-create-field-header-setting-typeface-und-8 + label,
#edit-profile-demand-create-field-main-font-typeface-und-8 + label {
    background: url('../images/editor_-_demand_create/u107.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-8:checked + label,
#edit-profile-demand-create-field-header-setting-typeface-und-8:checked + label,
#edit-profile-demand-create-field-main-font-typeface-und-8:checked + label {
    background: url('../images/editor_-_demand_create/u107_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-9 + label,
#edit-profile-demand-create-field-header-setting-typeface-und-9 + label,
#edit-profile-demand-create-field-main-font-typeface-und-9 + label {
    background: url('../images/editor_-_demand_create/u109.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-9:checked + label,
#edit-profile-demand-create-field-header-setting-typeface-und-9:checked + label,
#edit-profile-demand-create-field-main-font-typeface-und-9:checked + label {
    background: url('../images/editor_-_demand_create/u109_mouseOver.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-10 + label,
#edit-profile-demand-create-field-header-setting-typeface-und-10 + label,
#edit-profile-demand-create-field-main-font-typeface-und-10 + label {
    background: url('../images/editor_-_demand_create/u111.png') no-repeat;
}

#edit-profile-demand-create-field-table-label-typeface-und-10:checked + label,
#edit-profile-demand-create-field-header-setting-typeface-und-10:checked + label,
#edit-profile-demand-create-field-main-font-typeface-und-10:checked + label {
    background: url('../images/editor_-_demand_create/u111_mouseOver.png') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios:nth-child(2) input,
.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(1),
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios:nth-child(2) input,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(1),
.page-node-add-demand-create .n_visibl_r input,
.page-node-add-demand-create .n_visibl input,
.page-node-add-demand-create .n_visibl_n input,
#edit-profile-demand-create-field-main-columns-text-und input,
#edit-profile-demand-create-field-pic-align-pic-und input,
#edit-profile-demand-create-field-pic-label-align-und input {
    display: none;
}

.page-node-add-demand-create .n_visibl_n input[type=radio]:checked + label,
#edit-field-list-number-1-und-0-field-list-number-view2-und input[type=radio]:checked + label,
#edit-field-title-number-r-und-0-field-title-number-view2-und input[type=radio]:checked + label {
    border: 1px solid #0099cc;
}

.page-node-add-demand-create .n_border {
    display: flex;
}

#edit-field-main-interval-str-und,
#edit-field-main-margins-str-und {
    width: 100px;
}

#edit-field-main-margins-on-und-0-value,
#edit-field-main-interval-int-und-0-value,
#edit-field-main-margins-left-und-0-value,
#edit-field-main-margins-right-und-0-value,
#edit-field-main-interval-left-und-0-value,
#edit-field-main-interval-right-und-0-value {
    width: 45px;
}

.field-type-list-text.field-widget-options-select.width_sel.form-wrapper {
    margin-right: 10px;
}

#field-main-margins-on-add-more-wrapper > div,
#field-main-interval-int-add-more-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios > div,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios > div,
.page-node-add-demand-create .form-item-profile-demand-create-field-main-columns-text-und,
.page-node-add-demand-create .inline_label label,
.page-node-add-demand-create .form-item-profile-demand-create-field-header-filter-from-und-0-value label,
.page-node-add-demand-create .form-item-profile-demand-create-field-number-main-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-title-number-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-pic-border-thickness-und-0-value label,
.page-node-add-demand-create .form-item-profile-demand-create-field-pic-number-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-pic-indents-top-und-0-value label,
.page-node-add-demand-create .form-item-profile-demand-create-field-table-label-location-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-table-number-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-formula-indents-text-und-0-value label,
.page-node-add-demand-create .form-item-profile-demand-create-field-formula-number-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-list-number-type-und label,
.page-node-add-demand-create .form-item-profile-demand-create-field-quotes-main-symbol-und label,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-number-main-view-und,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-title-number-view-und,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-pic-number-view-und,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-table-number-view-und,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-formula-number-view-und,
.page-node-add-demand-create .n_visibl_n .form-item-profile-demand-create-field-list-number-view-und,
.page-node-add-demand-create .form-item-profile-demand-create-field-pic-align-pic-und,
.page-node-add-demand-create .form-item-profile-demand-create-field-pic-label-align-und {
    display: inline-block;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios:nth-child(2) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios:nth-child(2) label,
#edit-profile-demand-create-field-list-number-view-und label,
#edit-profile-demand-create-field-formula-number-view-und label,
#edit-profile-demand-create-field-table-number-view-und label,
#edit-profile-demand-create-field-pic-number-view-und label,
#edit-profile-demand-create-field-title-number-view-und label,
#edit-profile-demand-create-field-number-main-view-und label,
.form-item.form-type-radio.form-item-field-number-main-view-und label,
#edit-field-pic-number-view-und label,
#edit-field-table-number-view-und label,
#edit-field-list-number-view-und label {
    width: 76px;
    height: 76px;
    display: inline-block;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(2) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(2) label,
#edit-profile-demand-create-field-list-number-view-und-12 + label,
#edit-profile-demand-create-field-formula-number-view-und-12 + label,
#edit-profile-demand-create-field-table-number-view-und-12 + label,
#edit-profile-demand-create-field-pic-number-view-und-12 + label,
#edit-profile-demand-create-field-title-number-view-und-12 + label,
#edit-profile-demand-create-field-number-main-view-und-12 + label,
#edit-field-number-main-view-und-7 + label,
#edit-field-pic-number-view-und-7 + label,
#edit-field-table-number-view-und-7 + label,
#edit-field-list-number-view-und-7 + label {
    background: url('../images/editor_-_demand_create/u269.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(3) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(3) label,
#edit-profile-demand-create-field-list-number-view-und-13 + label,
#edit-profile-demand-create-field-formula-number-view-und-13 + label,
#edit-profile-demand-create-field-table-number-view-und-13 + label,
#edit-profile-demand-create-field-pic-number-view-und-13 + label,
#edit-profile-demand-create-field-title-number-view-und-13 + label,
#edit-profile-demand-create-field-number-main-view-und-13 + label,
#edit-field-number-main-view-und-8 + label,
#edit-field-pic-number-view-und-8 + label,
#edit-field-table-number-view-und-8 + label,
#edit-field-list-number-view-und-8 + label {
    background: url('../images/editor_-_demand_create/u271.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(4) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(4) label,
#edit-profile-demand-create-field-list-number-view-und-14 + label,
#edit-profile-demand-create-field-formula-number-view-und-14 + label,
#edit-profile-demand-create-field-table-number-view-und-14 + label,
#edit-profile-demand-create-field-pic-number-view-und-14 + label,
#edit-profile-demand-create-field-title-number-view-und-14 + label,
#edit-profile-demand-create-field-number-main-view-und-14 + label,
#edit-field-number-main-view-und-9 + label,
#edit-field-pic-number-view-und-9 + label,
#edit-field-table-number-view-und-9 + label,
#edit-field-list-number-view-und-9 + label {
    background: url('../images/editor_-_demand_create/u273.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(5) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(5) label,
#edit-profile-demand-create-field-list-number-view-und-15 + label,
#edit-profile-demand-create-field-formula-number-view-und-15 + label,
#edit-profile-demand-create-field-table-number-view-und-15 + label,
#edit-profile-demand-create-field-pic-number-view-und-15 + label,
#edit-profile-demand-create-field-title-number-view-und-15 + label,
#edit-profile-demand-create-field-number-main-view-und-15 + label,
#edit-field-number-main-view-und-10 + label,
#edit-field-pic-number-view-und-10 + label,
#edit-field-table-number-view-und-10 + label,
#edit-field-list-number-view-und-10 + label {
    background: url('../images/editor_-_demand_create/u275.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(6) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(6) label,
#edit-profile-demand-create-field-list-number-view-und-16 + label,
#edit-profile-demand-create-field-formula-number-view-und-16 + label,
#edit-profile-demand-create-field-table-number-view-und-16 + label,
#edit-profile-demand-create-field-pic-number-view-und-16 + label,
#edit-profile-demand-create-field-title-number-view-und-16 + label,
#edit-profile-demand-create-field-number-main-view-und-16 + label,
#edit-field-number-main-view-und-11 + label,
#edit-field-pic-number-view-und-11 + label,
#edit-field-table-number-view-und-11 + label,
#edit-field-list-number-view-und-11 + label {
    background: url('../images/editor_-_demand_create/u277.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(7) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(7) label,
#edit-profile-demand-create-field-list-number-view-und-17 + label,
#edit-profile-demand-create-field-formula-number-view-und-17 + label,
#edit-profile-demand-create-field-table-number-view-und-17 + label,
#edit-profile-demand-create-field-pic-number-view-und-17 + label,
#edit-profile-demand-create-field-title-number-view-und-17 + label,
#edit-profile-demand-create-field-number-main-view-und-17 + label,
#edit-field-number-main-view-und-12 + label,
#edit-field-pic-number-view-und-12 + label,
#edit-field-table-number-view-und-12 + label,
#edit-field-list-number-view-und-12 + label {
    background: url('../images/editor_-_demand_create/u279.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(8) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(8) label,
#edit-profile-demand-create-field-list-number-view-und-18 + label,
#edit-profile-demand-create-field-formula-number-view-und-18 + label,
#edit-profile-demand-create-field-table-number-view-und-18 + label,
#edit-profile-demand-create-field-pic-number-view-und-18 + label,
#edit-profile-demand-create-field-title-number-view-und-18 + label,
#edit-profile-demand-create-field-number-main-view-und-18 + label,
#edit-field-number-main-view-und-13 + label,
#edit-field-pic-number-view-und-13 + label,
#edit-field-table-number-view-und-13 + label,
#edit-field-list-number-view-und-13 + label {
    background: url('../images/editor_-_demand_create/u281.jpg') no-repeat;
}

.page-node-add-demand-create div.field-name-field-title-number-r .form-radios div:nth-child(9) label,
.page-node-add-demand-create div.field-name-field-list-number-1 .form-radios div:nth-child(9) label,
#edit-profile-demand-create-field-list-number-view-und-19 + label,
#edit-profile-demand-create-field-formula-number-view-und-19 + label,
#edit-profile-demand-create-field-table-number-view-und-19 + label,
#edit-profile-demand-create-field-pic-number-view-und-19 + label,
#edit-profile-demand-create-field-title-number-view-und-19 + label,
#edit-profile-demand-create-field-number-main-view-und-19 + label,
#edit-field-number-main-view-und-14 + label,
#edit-field-pic-number-view-und-14 + label,
#edit-field-table-number-view-und-14 + label,
#edit-field-list-number-view-und-14 + label {
    background: url('../images/editor_-_demand_create/u283.jpg') no-repeat;
}

#edit-profile-demand-create-field-main-columns-text-und label span {
    width: 27px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 13px;
}

#edit-profile-demand-create-field-main-columns-text-und-0 + label span {
    background: url('../images/editor_-_demand_create/u1421.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-0:checked + label span {
    background: url('../images/editor_-_demand_create/u1421_mouseOver.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-1 + label span {
    background: url('../images/editor_-_demand_create/u1423.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-1:checked + label span {
    background: url('../images/editor_-_demand_create/u1423_mouseOver.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-2 + label span {
    background: url('../images/editor_-_demand_create/u1425.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-2:checked + label span {
    background: url('../images/editor_-_demand_create/u1425_mouseOver.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-3 + label span {
    background: url('../images/editor_-_demand_create/u1427.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-3:checked + label span {
    background: url('../images/editor_-_demand_create/u1427_mouseOver.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-4 + label span {
    background: url('../images/editor_-_demand_create/u1429.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-main-columns-text-und-4:checked + label span {
    background: url('../images/editor_-_demand_create/u1429_mouseOver.png') no-repeat;
    display: block;
}

#edit-profile-demand-create-field-pic-border-type-und label {
    width: 100px;
    height: 16px;
}

#edit-profile-demand-create-field-pic-border-type-und-32 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u866.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-33 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u868.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-34 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u870.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-35 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u872.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-36 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u874.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-37 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u876.jpg') no-repeat;
}

#edit-profile-demand-create-field-pic-border-type-und-38 + label {
    display: inline-block;
    background: url('../images/editor_-_demand_create/u878.jpg') no-repeat;
}

.page-node-add-demand-create #edit-submit {
    display: none;
}

#block-menu-menu-top-menu a {
    color: #F2F3F4;
    white-space: pre;
}

/**/
.view-id-requirements_list .view-header {
    float: left;
    margin-top: 7px;
}

.view-id-requirements_list .btn a {
    padding: 7px 12px;
    background-color: #337ab7;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.view-id-requirements_list .btn {
    display: inline-block;
    margin-bottom: 10px;
}

.view-id-requirements_list #edit-combine-wrapper {
    padding-top: 1px;
}

#processing-form select,
.view-id-requirements_list .view-filters #edit-combine {
    width: 170px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 12px;
    margin: 0 0 0 15px;
}

#processing-form select {
	width: 400px;
	margin: 0;
}

#processing-form input[type="submit"] {
	margin-right: 5px;
}
 
#processing-form #edit-remove {
	background-color: #d9534f;
    border-color: #d43f3a;
}

#processing-form input[type="submit"],
.view-id-requirements_list .view-filters #edit-submit-requirements-list,
.view-id-requirements_list .demand,
.view-id-requirements_list .demand_del {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.view-id-requirements_list #edit-combine-wrapper + div.views-submit-button {
    padding: 0 0 0 1px;
}

.view-id-requirements_list #edit-submit-requirements-list {
    margin-top: 1px;
}

.view-id-requirements_list .views-table {
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #ffffff;
}

.view-id-requirements_list .views-table tr {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.view-id-requirements_list .views-table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ddd;
}

.view-id-requirements_list .views-table td {
    width: 221px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.view-id-requirements_list .container-inline {
    border-style: none;
    display: inline-block;
}

.view-id-requirements_list .container-inline legend {
    display: none;
}

.view-id-requirements_list .container-inline > div {
    display: inline-block;
}

.view-id-requirements_list .demand_del {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.view-id-requirements_list .demand,
.view-id-requirements_list .demand_del {
    margin-top: 20px;
}

.wrap-image {
    background-image: url(../images/u0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}

.wrap-image:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.wrap-image .data-content {
    width: 40%;
    margin: 0 auto;
    font-family: 'Segoe UI Курсив', 'Segoe UI';
    font-style: italic;
    font-size: 11px;
    color: #000000;
    text-align: center;
    display: block;
    border: none;
}

.wrap-image > .content-block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

#field-demand-name-add-more-wrapper > div,
#field-demand-note-add-more-wrapper > div {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

#edit-field-setting > div {
    display: flex;
    justify-content: flex-start;
}

#edit-field-setting label {
    width: 195px;
}

#field-demand-name-add-more-wrapper div input,
#field-demand-note-add-more-wrapper div input {
    width: 470px;
    border-radius: 4px;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
}

#field-header-filter-from-add-more-wrapper div input,
#field-header-filter-skip-add-more-wrapper div input {
    width: 280px;
}

#field-header-filter-from-add-more-wrapper > div,
#field-header-filter-skip-add-more-wrapper > div {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

#edit-field-header-setting-align-und {
    display: flex;

}

#edit-field-header-setting-align label span,
#edit-field-table-label-align-und label span,
#edit-field-header-setting-typeface-und label span,
#edit-field-table-label-typeface label span,
.form-item.form-type-radio.form-item-field-main-columns-text-und label span,
#edit-field-table-label-continue2-und label span {
    position: absolute;
    background-repeat: no-repeat;
    width: 27px;
    height: 30px;
}

.form-item.form-type-radio.form-item-field-main-columns-text-und label span {
    height: 45px;
    position: static;
}

#edit-field-header-setting-align-und-23 + label span,
#edit-field-table-label-align-und-28 + label span,
#edit-field-table-label-continue2-und-1 + label span {
    background-image: url(../images/editor_-_demand_create/u101.png);
}

#edit-field-header-setting-align-und-23:checked + label span,
#edit-field-table-label-align-und-28:checked + label span,
#edit-field-table-label-continue2-und-1:checked + label span {
    background-image: url(../images/editor_-_demand_create/u101_mouseOver.png);
}

#edit-field-header-setting-align-und-24 + label span,
#edit-field-table-label-align-und-29 + label span,
#edit-field-table-label-continue2-und-2 + label span {
    background-image: url(../images/editor_-_demand_create/u99.png);
}

#edit-field-header-setting-align-und-24:checked + label span,
#edit-field-table-label-align-und-29:checked + label span,
#edit-field-table-label-continue2-und-2:checked + label span {
    background-image: url(../images/editor_-_demand_create/u99_mouseOver.png);
}

#edit-field-header-setting-align-und-25 + label span,
#edit-field-table-label-align-und-30 + label span,
#edit-field-table-label-continue2-und-3 + label span {
    background-image: url(../images/editor_-_demand_create/u103.png);
}

#edit-field-header-setting-align-und-25:checked + label span,
#edit-field-table-label-align-und-30:checked + label span,
#edit-field-table-label-continue2-und-3:checked + label span {
    background-image: url(../images/editor_-_demand_create/u103_mouseOver.png);
}

#edit-field-table-label-align-und-31 + label span {
    background-image: url(../images/editor_-_demand_create/u105.png);
}

#edit-field-table-label-align-und-31:checked + label span {
    background-image: url(../images/editor_-_demand_create/u105_mouseOver.png);
}

#edit-field-header-setting-typeface-und-8 + label span,
#edit-field-table-label-typeface-und-8 + label span {
    background-image: url(../images/editor_-_demand_create/u107.png);
}

#edit-field-header-setting-typeface-und-8:checked + label span,
#edit-field-table-label-typeface-und-8:checked + label span {
    background-image: url(../images/editor_-_demand_create/u107_mouseOver.png);
}

#edit-field-header-setting-typeface-und-9 + label span,
#edit-field-table-label-typeface-und-9 + label span {
    background-image: url(../images/editor_-_demand_create/u109.png);
}

#edit-field-header-setting-typeface-und-9:checked + label span,
#edit-field-table-label-typeface-und-9:checked + label span {
    background-image: url(../images/editor_-_demand_create/u109_mouseOver.png);
}

#edit-field-header-setting-typeface-und-10 + label span,
#edit-field-table-label-typeface-und-10 + label span {
    background-image: url(../images/editor_-_demand_create/u111.png);
}

#edit-field-header-setting-typeface-und-10:checked + label span,
#edit-field-table-label-typeface-und-10:checked + label span {
    background-image: url(../images/editor_-_demand_create/u111_mouseOver.png);
}

#edit-field-header-setting-align-und-1 + label,
#edit-field-header-setting-align-und-2 + label,
#edit-field-header-setting-align-und-3 + label,
#edit-field-table-label-align-und-28 + label,
#edit-field-table-label-align-und-29 + label,
#edit-field-table-label-align-und-30 + label,
#edit-field-header-setting-typeface-und div label,
#edit-field-table-label-continue2-und div {
    position: relative;
    width: 27px;
    height: 30px;
}

.form-item.form-type-radio.form-item-field-main-columns-text-und label {
    position: relative;
    width: 27px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item.form-type-radio.form-item-field-main-columns-text-und {
    margin: 0;
}

.form-item.form-type-radios.form-item-field-main-columns-text-und {
    margin: 0px;
    width: 100%;
}

#edit-field-header-setting-align-und-1,
#edit-field-header-setting-align-und-2,
#edit-field-header-setting-align-und-3,
#edit-field-table-label-align-und-28,
#edit-field-table-label-align-und-29,
#edit-field-table-label-align-und-30 {
    display: none;
}

.form-item.form-type-radio.form-item-field-header-setting-align-und,
.form-item.form-type-radio.form-item-field-table-label-align-und,
#edit-field-pic-align-pic-und > div,
#edit-field-pic-label-align-und div,
#edit-field-table-label-continue2-und > div {
    width: 35px;
    height: 30px;
}

.required-fields.group-header-setting-r14.field-group-html-element.section-content-r div,
.required-fields.group-table-label-14.field-group-html-element.section-content-r div {
    width: 100px;
    display: flex;
}

#edit-field-header-setting-color > div,
#edit-field-table-label-color > div {
    background-image: url(../images/editor_-_demand_create/btn_4_2_u113.png);
}

#edit-field-header-setting-background > div,
#edit-field-table-label-background > div {
    background-image: url(../images/editor_-_demand_create/btn_4_3_u193.png);
}

#edit-field-header-setting-background > div,
#edit-field-header-setting-color > div,
#edit-field-table-label-color > div,
#edit-field-table-label-background > div {
    width: 43px;
    background-repeat: no-repeat;
    height: 30px;
}

#edit-field-header-setting-color:hover > div,
#edit-field-table-label-color:hover > div {
    background-image: url(../images/editor_-_demand_create/btn_4_2_u113_mouseOver.png);

}

#edit-field-header-setting-background:hover > div,
#edit-field-table-label-background:hover > div {
    background-image: url(../images/editor_-_demand_create/btn_4_3_u193_mouseOver.png);
}

#edit-field-header-setting-color-und,
#edit-field-table-label-color-und,
#edit-field-table-label-background-und,
#edit-field-header-setting-background-und {
    visibility: hidden;
}

.required-fields.group-header-setting-3.field-group-html-element,
.required-fields.group-table-label-2.field-group-html-element {
    display: flex
}

#edit-field-main-columns-text-und {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-field-main-columns-text-und-0 + label span {
    background-image: url(../images/editor_-_demand_create/u1421.png);
}

#edit-field-main-columns-text-und-0:checked + label span {
    background-image: url(../images/editor_-_demand_create/u1421_mouseOver.png);
}

#edit-field-main-columns-text-und-1 + label span {
    background-image: url(../images/editor_-_demand_create/u1423.png);
}

#edit-field-main-columns-text-und-1:checked + label span {
    background-image: url(../images/editor_-_demand_create/u1423_mouseOver.png);
}

#edit-field-main-columns-text-und-2 + label span {
    background-image: url(../images/editor_-_demand_create/u1425.png);
}

#edit-field-main-columns-text-und-2:checked + label span {
    background-image: url(../images/editor_-_demand_create/u1425_mouseOver.png);
}

#edit-field-main-columns-text-und-3 + label span {
    background-image: url(../images/editor_-_demand_create/u1427.png);
}

#edit-field-main-columns-text-und-3:checked + label span {
    background-image: url(../images/editor_-_demand_create/u1427_mouseOver.png);
}

#edit-field-main-columns-text-und-4 + label span {
    background-image: url(../images/editor_-_demand_create/u1429.png);
}

#edit-field-main-columns-text-und-4:checked + label span {
    background-image: url(../images/editor_-_demand_create/u1429_mouseOver.png);
}

.form-radios {
    display: flex;
    flex-wrap: wrap;
}

#edit-field-list-number-1-und-0-field-list-number-view2-und > div,
#edit-field-title-number-r-und-0-field-title-number-view2-und > div,
#edit-field-number-main-view-und > div,
#edit-field-pic-number-view-und > div,
#edit-field-table-number-view-und > div,
#edit-field-list-number-view-und > div {
    margin-right: 2px;
}

.form-item.form-type-select,
.form-item-field-title-main-own-und-0-value,
.form-item-field-main-margins-left-und-0-value,
.form-item-field-main-margins-right-und-0-value,
.form-item-field-main-interval-left-und-0-value,
.form-item-field-main-interval-right-und-0-value,
.form-item-field-number-pattern-own-und-0-value,
.form-item-field-number-pattern-own2-und-0-value,
.form-item-field-pic-border-thickness-und-0-value {
    display: flex;
    align-items: baseline;
}

.form-item-field-main-margins-str-und,
.form-item-field-main-interval-str-und {
    flex-direction: column;
}

.form-item-field-main-interval-left-und-0-value,
.form-item-field-main-margins-left-und-0-value,
.form-item.form-type-textfield.form-item-field-main-margins-right-und-0-value,
.form-item.form-type-textfield.form-item-field-main-interval-right-und-0-value {
    width: 95px;
    justify-content: space-between;
}

.form-item.form-type-select label,
.form-item-field-title-main-own-und-0-value label,
.form-item-field-main-margins-left-und-0-value label,
.form-item-field-main-margins-right-und-0-value label,
.form-item-field-main-interval-left-und-0-value label,
.form-item-field-main-interval-right-und-0-value label,
.form-item-field-number-pattern-own-und-0-value label,
.form-item-field-number-pattern-own2-und-0-value label,
.form-item-field-pic-border-thickness-und-0-value label {
    margin-right: 8px;
}

.required-fields.group-main-margins-r1.field-group-html-element.section-content-r,
.required-fields.group-main-interval-r1.field-group-html-element.section-content-r {
    width: 160px;
}

#edit-field-setting-und {
    margin-left: -8px;
}

#edit-field-pic-size-1-und-0-value,
#edit-field-pic-size-2-und-0-value {
    width: 40px;
}

.required-fields.group-pic-size-r1.field-group-html-element.section-content-r {
    padding-right: 5px;
}

.field-group-html-element.section-content-r {
    padding-right: 4px;
}

#field-pic-border-color-add-more-wrapper label {
    margin-right: 26px;
}

#edit-field-pic-border-type-und > div label {
    width: 102px;
    height: 17px;
    position: absolute;
}

#edit-field-pic-border-type-und > div {
    width: 102px;
    height: 17px;
}

#edit-field-pic-border-type-und {
    flex-direction: column;
}

#edit-field-pic-border-type-und-32 + label {
    background-image: url(../images/editor_-_demand_create/u866.jpg);
}

#edit-field-pic-border-type-und-33 + label {
    background-image: url(../images/editor_-_demand_create/u868.jpg);
}

#edit-field-pic-border-type-und-34 + label {
    background-image: url(../images/editor_-_demand_create/u870.jpg);
}

#edit-field-pic-border-type-und-35 + label {
    background-image: url(../images/editor_-_demand_create/u872.jpg);
}

#edit-field-pic-border-type-und-36 + label {
    background-image: url(../images/editor_-_demand_create/u874.jpg);
}

#edit-field-pic-border-type-und-37 + label {
    background-image: url(../images/editor_-_demand_create/u876.jpg);
}

#edit-field-pic-border-type-und-38 + label {
    background-image: url(../images/editor_-_demand_create/u878.jpg);
}

#edit-field-pic-border-type-und > div input {
    display: none;
}

#edit-field-list-formatting-indentatio-und-0-value {
    margin-left: 27px;
}
.field-type-taxonomy-term-reference.field-widget-options-buttons.n_visibl_n.form-wrapper,
.field-type-taxonomy-term-reference.field-name-field-list-number-view2.field-widget-options-buttons.form-wrapper,
.field-type-taxonomy-term-reference.field-name-field-title-number-view2.field-widget-options-buttons.form-wrapper{
    width: 360px;
}